/* 
 * Global styling.
 */
body {
  /* https://fonts.google.com/specimen/Inter#standard-styles */
  font-family: "Inter";
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
  font-size: 16px;

  /* Global margins.*/
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;

  display: flex;
  line-height: 1.5;
}

/*
 * Navigation styling.
 */
nav {
  /* 
   * Floats the nav bar to the left side of the screen.
   *
   * Source: https://developer.mozilla.org/en-US/docs/Web/CSS/float.
   */
  /* float: left; */
  /* TODO Read about this property. */
  text-align: left;
  left: 48px;
  position: fixed;
  width: 170px;
}

nav #name {
  margin-bottom: 10px;
}

nav span {
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

/*
 * Here is our first use of the descendant combinator pattern, used to style
 * child elements within a parent (in this case, the nav element).
 *
 * Source: https://developer.mozilla.org/en-US/docs/Web/CSS/Descendant_combinator.
 */
nav ul {
  /* Removes the bullets preceding each list item. */
  list-style: none;
  /* Don't want space between my name and the nav items. */
  margin-top: 0;
  /* Remove the default padding. */
  padding: 0;
}

#page {
  width: 700px;
  margin-left: 240px;
}

#page h1,
#page h2,
#page h3 {
  margin: 0;
}
/* 
 * Main content styling. 
 */
#content {
  /* To have some space between the content and header */
  padding-top: 8px;
}

#content p {
  margin-top: 0;
}

/*
 * Blog page styling.
 */
.blog-row {
  display: flex;
}

.pd {
  width: 8em;
  flex-shrink: 0;
  padding-bottom: 0.3em;
}

/*
 * Books page styling.
 */
.in-progress {
  color: #367da2;
}
